*~
\#*
.\#*
.~*
*.o
*.o_p
*.hi
*.dyn*
*.swp
*.cache
*.ejc.*
*.csv
*.pk3
*.wav
*.pdf
*.shc
*.json
*.graphml
*.eventlog

/pkgs/build/
/pkgs/overrides.nix
/dist/
/dist-newstyle/
/cabal-dev/
/.cabal-sandbox/
/experiments/dist/

/.ghc.environment*
.stack-work/
nohup.out

/Holotype
/Holostress
/LCstress
