*~
\#*
.\#*
.~*
*.o
*.o_p
*.hi
*.dyn*
yt-request-*
dist
*.swp
*.cache
*.ejc.*
*.pk3
*.wav
*.pdf
*.graphml
cabal-dev/
.hsenv/
.cabal-sandbox/
.stack-work/
cabal.sandbox.config
nohup.out
JSONTypes.hs

*.csv
