*~
\#*
.\#*
.~*
*.aux
*.bin
*.cache
*.csv
*.dyn*
*.ejc.*
*.eventlog
*.graphml
*.hi
*.hp
*.json
*.lprof
*.ltrace*
*.o
*.o_p
*.orig
*.pdf
*.pk3
*.ps
*.shc
*.swp
*.valgrind
*.wav

/pkgs/build/
/pkgs/overrides.nix
/dist/
/dist-newstyle/
/experiments/dist/

/.ghc.environment*
.stack-work/
nohup.out

/cairostress

